
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label style="font-weight:bold">@ViewBag.Title</label>
<br />
<br />
@RenderBody()

@section scripts
{
    @RenderSection("scripts", false)
}