<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioAdministracion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57978/ServicioAdministracion.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAdministracion"
                contract="ServicioAdministracion.IServicioAdministracion"
                name="BasicHttpBinding_IServicioAdministracion" />
        </client>
    </system.serviceModel>
</configuration>